
.form-signin {
	margin-top: 200px; /* Tungvidt plassering av signup form */
} 

#signup-response {
    display:inline;
    margin-left:4px;
    padding-left:20px;
}
 
.response-waiting {
    background:url("loading.gif") no-repeat;
}
 
.response-success {
   background:url("tick.png") no-repeat;
}
 
.response-error {
   background:url("cross.png") no-repeat;
}